.name-header{
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: calc(10px + 4vmin);
  font-family: "Menlo", monospace;
  font-style: italic;
  display: inline-block;
  transition: width 50ms;
}
.overall-box{
  align-items: center;
  background-color: #FBE8A6;
  text-align: center;
}
.checkbox{
  height: 3vw;
  width: 3vw
}
